html{
    min-height: 100%;
    height: 100%;
}

.container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    background: #FFF;
}

.loginPanel{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
    background-image: url("../img/blackBackgroundO20.png");
    border-radius: 50px;
}